@charset "utf-8";

@font-face{
    font-family: 'android';
    src:url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor1:#ebe5c5;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrao:arial, Verdana, Helvetica, Sans-serif;
    --fonte-android:"android", Sans-serif;
}

*{
    margin:0px;
    padding: 0px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1em ;
}
main strong{
    color:var(--cor5) ;
    font-weight: bold;
    color: chocolate;
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color:var(--cor5);
    background-color:rgb(150, 207, 189);
    border-radius: 4px 4px;
}
nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.377);
        

}
nav>a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
nav > a:hover{
    background-color: var(--cor4);
    transition-duration: 0.5s;
}
body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    }
header{

    background-image:linear-gradient(to left, var(--cor3),var(--cor6),var(--cor3));
    min-height: 150px;
    text-align: center;
   
    
}
article> h2 h1{
    background-image: -o-linear-gradient(to left, var(--cor4),var(--cor2));
}
header>h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.500);

}
header p {
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding: 10px;
    
}
main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-padrao);
}
main h2,h1{
    font-family: var(--fonte-android)
}
main img{
    width: 100%;
}
main .droid{
    max-width: 350px;
    display: block;
    margin: auto;

}
aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.301);

}
aside>ul{
    list-style-type: circle;
    list-style-position: inside;
    columns: 2
    ;
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

footer{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}
footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}